<style>
    .navbar {
        background-color:deepskyblue;
    }
</style>

<div class="navbar">
    <a href="{% url 'home' %}">Home</a>

    {% if not request.user.is_authenticated %}
    <a href="{% url 'user_login' %}">Zaloguj</a>
    {% else %}
    <a href="{% url 'user_logout' %}">Wyloguj</a>
    {% endif %}

    <form style='display:inline;' method="POST" action="{% url 'search_bar' %}">
        {% csrf_token %}
        <input tpye="text" name="search_bar"/>
    </form>
    
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile_page' user.id %}">@{{user.username}}</a>
    {% endif %}
</div>