*{
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.navbar {
    background-color: black;
    display: block;
    width: 100%;
    padding: 15px;
}

.search {
    width: 200px;
}
a.option:link {color:white; text-decoration:none;}
a.option:visited {color:white; text-decoration:none;}
a.option:hover {color:black; text-decoration:none;}

a.option_home:link {color:white; text-decoration:none;}
a.option_home:visited {color:white; text-decoration:none;}
a.option_home:hover {color:black; text-decoration:none;}

.option_home {
    float: left;
}
.option {
    float: right;
}
.option:hover {
    border: 3px dotted white;
}

.opt:not(search) {
    padding: 5px;
    opacity: 0,8;
}

.opt:hover { 
    background-color: #d9ecfa;
}

.topic_element {
    padding: 10px;
    background-color: lightgrey;
}

.topic_element:hover {
    background-color: grey;
}

a.topic_link:link {color:black; text-decoration:none;}
a.topic_link:visited {color:black; text-decoration:none;}
a.topic_link:hover {color:grey; text-decoration:none;}
