{% extends 'main.html' %}
{% block content %}

<style>
    .home_page_container {
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
    }

</style>
<div class="home_page_container">
    <div>
        {% include 'fish/topics_component.html' %}
    </div>
    <div>
        <a href="{% url 'room_form' %}">Stwórz pokój</a>
        {% include 'fish/rooms_component.html' %}
    </div>
    <div>
        {% include 'fish/messages_component.html' %}
    </div>
</div>
{% endblock content %}