{% extends 'main.html' %}
{% block content %}
    {% if status == 'login' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <label class="login_c lrf">Login:</label>
            <input type="text" class="login_c lrf" name="username" placeholder="Wprowadź login" required/>
            
            <br>

            <label id="login_c lrf">Hasło:</label>
            <input type="password" class="login_c lrf" name="password" placeholder="Wprowadź hasło" required/>
            
            <br>

            <input type="submit" class="login_c" name="login_register_button"/>

            <ul class="messages login_c">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
         
            <p class="login_c">Nie masz jeszcze konta?</p>
            <a href="{% url 'register' %}" class="login_c">Zarejestruj się</a>
        </form>
    </div>
    {% else %}
        <div>
            <form action="" method="POST" class="login_c">
                {% csrf_token %}
                {{form_register}}
                <input type="submit" class="login_c" name="Potwierdź"/>
            </form>
        </div>
    {% endif %}
{% endblock content %}
