{% extends 'main.html' %}
{% block content %}
    {% if status == 'login' %}
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="login_c">
                <label class="login_c lrf">Login:</label>
                <input type="text" class="login_c lrf" name="username" placeholder="Wprowadź login" required/>

            </div>
            
            <br>
            <div class="login_c">
                <label id="login_c lrf">Hasło:</label>
                <input type="password" class="login_c lrf" name="password" placeholder="Wprowadź hasło" required/>
            </div>
            <br>
            <div class="login_c">
                <input type="submit" class="login_c" name="login_register_button"/>
            </div>
            <div class="login_c">
                <ul class="messages login_c">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <p class="login_c">Nie masz jeszcze konta?</p>
            <div class="login_c">
                <a href="{% url 'register' %}" class="login_c">Zarejestruj się</a>
            </div>
        </form>
    </div>
    {% else %}
        <div>
            <form action="" method="POST" class="login_c">
                {% csrf_token %}
                {{form_register}}
                <input type="submit" class="login_c" name="Potwierdź"/>
            </form>
        </div>
    {% endif %}
{% endblock content %}
