<div id="messagess_container">
    <div id="mesagess_header">
        <h3>Ostatnie wiadomosci użytkowników:</h3>
    </div>
    <ul>
        {% for mesg in messages_comp %}
        <li>
            <p>
                <div class="messages_body_owner">
                    <a href="{% url 'profile_page' mesg.owner.id %}" class="main_page_links">@{{mesg.owner}}</a>:
                    <a href="{% url 'room_page' mesg.room_messages.id %}" class="main_page_links">{{mesg}}</a>    
                </div>
            </p>

        </li>
        {% endfor %}
    </ul>
</div>
