{% extends 'main.html' %}
{% block content %}
<style>
    .contenet_container {
        display: grid;
        grid-template-columns: 10fr 3fr 30fr 3fr 10fr;
    }
</style>
<small>{{rooms.room_topic}}, <a href="{% url 'profile_page' rooms.host.id %}">@{{rooms.host}}</a></small>
<div>
    <div>
        <h1>{{rooms.room_name}}</h1>
        {{room}}
    </div>
    <div class="contenet_container">
        <div>
            <h3>{{rooms.room_desription}}</h3>
        </div>
        <div></div>
        <div>
    
            <div>
                <form  method="POST" action="">
                    {% csrf_token %}
                    <input type="text" name='body' placeholder="Napisz swoją wiadomość">
                </form>
            </div>
            <div>
                {% for message in messages_room %}
                    <p>
                        {% if request.user == message.owner %}
                        <a href="{% url 'delete_message' message.id %}">Usuń</a>
                        {% endif %}
                        <a href="{% url 'profile_page' message.owner.id %}">@{{message.owner}}</a>
                        <span> {{message.created|timesince}} temu:</span>
                        <p>{{message}}</p>
                    </p>
                {% endfor %}
            </div>
        </div>
        <div></div>
        <div>
            <h3>Uczestnicy:</h3>
            {% for part in parties %}
            <p><a href="{% url 'profile_page' part.id %}">{{part}}</a></p>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock content %}