<div id="rooms_container">
    <div id="rooms_comp_header">
        <h3>Ostatnio zaktualizowane fora:</h3> 
    </div>
    <div>
        <a href="{% url 'room_form' %}" class="main_page_links">Stwórz pokój</a>
    </div>
    {% for room in rooms %}
    <div>
        {% if request.user == room.host %}
        <a href="{% url 'update' room.id %}" class="main_page_links">Edytuj</a>
        <a href="{% url 'delete_room' room.id %}" class="main_page_links">Usuń</a>
        {% endif %}
        <div>
            <a href="{% url 'profile_page' room.host.id %}" class="main_page_links first">@{{room.host}}</a>
            <h3><a href="{% url 'room_page' room.id %}" class="main_page_links second">{{room}}</a></h3> 
        </div>
    </div>
    {% endfor %}
</div>

 