<div id="rooms_container">
    <div id="rooms_comp_header">
        <h3>Ostatnio zaktualizowane fora:</h3> 
    </div>
    <div id="create_room">

    </div>
    <a href="{% url 'room_form' %}">Stwórz pokój</a>
    </div>

    {% for room in rooms %}
    <div>
        {% if request.user == room.host %}
        <a href="{% url 'update' room.id %}" class="rooms_comp_buttons">Edytuj</a>
        <a href="{% url 'delete_room' room.id %}" class="rooms_comp_buttons">Usuń</a>
        {% endif %}
        <a href="{% url 'profile_page' room.host.id %}" class="rooms_comp_user">{{room.host}}</a>
        <h3><a href="{% url 'room_page' room.id %}">{{room}}</a></h3> 
    </div>
    {% endfor %}
</div>