{% extends 'main.html' %}
{% block content %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label for="room_topic">Temat:</label>
            <input required type="text" value="{{ room.topic.topic_name }}" name="room_topic" list="topic-list"/>
            <datalist id="topic-list">
              <select id="room-topic">
                {% for topic in topics %}
                <option value="{{topic.topic_name}}">
                    {{topic.name}}
                </option>
                {% endfor %}
              </select>
            </datalist>
        </div>
        {{room_form.as_p}}
        <button type="submit">Potwierdź</button>
    </form>
</div>

{% endblock content %}